<h1>Guest Show Page</h1>

<h3>Guests:</h3>
<p>Name: <%= @guest.name %>, Nights: <%= @guest.nights %></p>

<h3>Rooms:</h3>

<ul>
  <%# <% binding.pry %>
  <% @rooms.each do |room| %>
  <li>Room: <%= room.suite %></li> 
  <li>Rate: <%= room.rate %></li> 
  <% end %> 
</ul>