<h1>Room Index Page</h1>

<% @rooms.each do |room| %>
  <p>Room: <%= room.suite %></p>
  <p>Rate: <%= room.rate %></p>
  <p>Hotel Name: <%= room.hotel.name %></p>
  <p>Number of Guests: <%= room.guests.count %>
<% end %>