<h1> Rooms Index</h1>

<% @rooms.each do |room| %>
  <h3> Suite: <%= room.suite %> </h3>
  <p> Rate: <%= room.rate %> </p>
  <p> Hotel: <%= room.hotel_name %> </p>
  <p> Number of Guests: <%= room.number_of_guests %> </p>
<% end %>