<h1> <%= @hotel.name %>'s Page</h1>
<br>
<h4>All Guests who've stayed with us:</h4>
<%# <ul>
  <% @hotel.rooms.each do |room| %>
    <%# room.guests.uniq_guest_names.each do |guest| %>
      <%# <li> <%= guest.name</li> %>
      <%# <br>
    <% end %>
  <%# <% end %> 
<%# </ul> %> 

